@font-face {
    font-family: "Blaak-bold";
    src: local("Blaak-bold"),
    url(../fonts/BlaakBold_PERSONAL.ttf) format("truetype");
}
$S-space: 5px;
$M-space: 20px;
$L-space: 50px;
$XL-space: 100px;

$green: #BFFD00;
$pink: #FCD7F7;
$blue: #0600FF;
$black: #171717;
$grey: grey;
*{
    margin: 0;
    padding: 0;
}
body{
    width: 66%;
    margin: auto;
    background: #ffffff;
    font-family: museo-sans,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color:  lavender;

    h1{
        text-align: center;
    }
    img{
        width: 100%;
    }
    .button{
        padding: 5px 20px;
        background-color: $green;
        color: $black;
        border: none;
        cursor: pointer;
    }
    .activeButton{
        background-color: $blue !important;
        color: $green !important;
    }
    input{
        padding: $S-space;
    }
}
// NAVIGATIE
nav{
    font-family: "Blaak-bold";
    margin: $M-space auto;
    width: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

    a{
        color: $black;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .hover-state{
            display: none;
        }

        &:hover .hover-state{
            display: block;
            width: 25px;
            height: auto;
            margin:-$M-space auto $S-space;
        }

        &:hover{
            color: $blue;
        }

        img{
            width: 50px;
            height: auto;
        }
    }
    a.router-link-active{
        color: $blue;

        .hover-state{
            display: block;
            width: 25px;
            height: auto;
            margin:-$M-space auto $S-space;
        }
    }
}
// LOGIN
.register, .login{
    display: flex;
    flex-direction: column;
    align-items: center;

    form{
        margin-top: $L-space;
        text-align: center;

        input{
            margin: $S-space;
        }
        button{
            margin-top: $M-space;
        }
    }
}
// Register-next
.register-next{
    display: flex;
    flex-direction: column;
    align-items: center;

    .radio-buttons{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: left;
    
        div{
            margin: $S-space;
        }
    }
    .checkbox{
        margin: $M-space auto;
    }
}
// ERROR
.error-message{
    color: $pink;
}
//END
.form div:not(.insideDiv){
    margin: $M-space auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form div label{
    margin-bottom: $M-space;
    text-align: left;
}
//OurOfferView
.form h2{
    text-align: center;
    margin: auto;
}
.filter-segment{
    margin: $L-space auto $M-space;
    width: 500px;
    display: flex;
    justify-content: space-between;

    .filter{
        width: 33%;
        display: flex;
        justify-content: space-between;
    }
}

.typeSelect, .filterSelect, .form{
    margin: auto;
    width: 90%;
}
.typeSelect{
    .typeBox{
        background-color: grey;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }
    .type{
        width: fit-content;
        flex: 2 3 15%;
        margin: 5px;
        padding: 5px;
        text-align: center;
        border: 1px solid black;
        cursor: pointer;
    }
    .active{
        background-color: lightgray;
        border: 2px solid yellowgreen;
    }
}
.item{
    width: 500px;
    height: auto;
    margin: $M-space auto;
    padding: 7px;
    background-color: #5c5a5a;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    div{
        margin: $S-space;
    }
    .titel{
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.difficulty{
    display: flex;
    
    .circle{
        width: 10px;
        height: 10px;
        margin: auto $S-space;
        border-radius: 100%;
        background-color: $grey;
    }

}

.diff3{
    .color{
        background-color: red;
    }
}

.diff2{
    .color{
        background-color: orange;
    }
}

.diff1{
    .color{
        background-color: green;
    }
}
.bottom-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .infographics{
        width: 33%;
        display: flex;
        justify-content: space-between;

        div span{
            padding: 4px 8px;
            background-color: darkslategrey;
        }
    }
    .details{
        display: flex;
        font-size: smaller;
    }
}

//END
// COMPANIESVIEW
.bedrijven{
    .bedrijf{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    
        div{
            margin: $S-space 0;
        }
        .beschrijving{
            width: 80%;
            margin: auto;
            text-align: justify;
        }
    }
    .introductie{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo img{
        width: 100px;
    }
    .personen{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .persoon{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .personen-foto{
        width: 100px;
    
        img{
            border-radius: 100%;
        }
    }
    .gegevens{
        background-color: darkslategray;
        color: white;
        display: flex;
        justify-content: space-evenly;
    
        div{
            margin: $S-space auto;
            text-align: center;
        }
    }
    .showMore{
        width: fit-content;
        margin: auto;
    }
}
//END
// OFFER
.aanbod-preview{
    width: 80%;
    margin:$XL-space auto 0px;

    div{
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(even){
            background-color: aliceblue;
        }
    }

}
// Profile
.profile-gegevens, .profile-update{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.profile-gegevens div:not(.boolean){
    margin: 15px auto;
    padding: 15px 5px;
    text-align: center;
    border: 1px solid black;
}
.profile-update{

    div{
        margin: 15px auto;
        text-align: center;

        p{
            margin-bottom: 5px;
        }
    }
}
.boolean{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;

    h3{
        padding: 10px;
    }
}
.class_if_is_true{
    background-color: $green;
    color: white;
}
.else_class{
    background-color: $pink;
}
.acties{
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
        width: fit-content;
        margin: 10px;
        padding: 15px 5px;
        border-radius: 10px;
        border: none;
    }

    .delete{
        background-color: red;
        color: white;
    }
}
