$S-space: 5px;
$M-space: 20px;
$L-space: 50px;
$XL-space: 100px;

$orange: #fa6432;
$darkOrange: #bf3c1d;
$pink: #FCD7F7;
$white: #fff;
$black: #00283c;
$grey: #ddd;
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1200px;
    min-width: auto;
    margin: auto;
    background: #ffffff;
    font-family: Source Sans Pro,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 500;
    font-style: normal;

    h1{
        text-align: center;
        color: $orange;
        font-size: 42px;
        font-weight: 400;
    }
    p{
        font-size: 20px;
        line-height: 1.5;
    }
    img{
        width: 100%;
    }
    .button{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: $M-space $L-space;
        background-color: $orange;
        color: $white;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 17px;
        &:hover{
            background-color: $darkOrange;
        }
    }
    .activeButton{
        background-color: $white !important;
        color: $orange !important;
    }
    input{
        padding: $S-space;
    }
    .messageBlock{
        background-color: $pink;
        width: 60%;
        margin: auto;
        text-align: center;
        border: 1px solid $black;
        padding: $M-space $S-space;
    }
}
// NAVIGATIE
nav{
    margin: $M-space auto;
    width: 95%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

    a{
        color: $black;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        &:hover{

            &.router-link-active.button{
                border: 3px  solid $darkOrange !important;
            }

            &.button{
                background-color: $darkOrange !important;
                color: $white !important;
            }
        }
        &.router-link-active:not(.no-active){
            border-bottom: 3px solid $orange;

            &.button{
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                color: $orange;
                border: 3px  solid $orange;
                background-color: $white;
            }
        }
    }
    
    .not-logged-in-nav, .logged-in-nav{
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .nav-logo{
            margin-top: -$M-space;
            img{
                width: 200px;
            }
        }
        .nav-options{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .nav-options-right{
            display: flex;
            flex-direction: column;
            align-self: center;

            a{
                margin: $S-space;
            }
        }
        .nav-options-user{
            img{
                width: 33px;
            }
        }
            
        
    }
    
}
// LOGIN
.register, .login{
    display: flex;
    flex-direction: column;
    align-items: center;

    form{
        margin-top: $L-space;
        text-align: center;
        display: flex;
        flex-direction: column;

        input{
            margin: $S-space;
            padding: $M-space;
            border: 1px solid  $grey;
            border-radius: 3px;
        }
        button{
            margin-top: $M-space;
        }
    }
}
// Register-next
.register-next{
    display: flex;
    flex-direction: column;
    align-items: center;

    .radio-buttons{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: left;
    
        div{
            margin: $S-space;
        }
    }
    .checkbox{
        margin: $M-space auto;
    }
}
// ERROR
.error-message{
    color: $white;
    background-color: $pink;
    padding: $S-space $M-space;
}
//END
.form div:not(.insideDiv){
    margin: $M-space auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form div label{
    margin-bottom: $M-space;
    text-align: left;
}
//OurOfferView
.form h2{
    text-align: center;
    margin: auto;
}
.filter-segment{
    margin: $L-space auto $M-space;
    width: 500px;
    display: flex;
    justify-content: space-between;

    .filter{
        width: 33%;
        display: flex;
        justify-content: space-between;
    }
}

.typeSelect, .filterSelect, .form{
    margin: auto;
    width: 90%;
}
.typeSelect{
    .typeBox{
        background-color: grey;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }
    .type{
        width: fit-content;
        flex: 2 3 15%;
        margin: 5px;
        padding: 5px;
        text-align: center;
        border: 1px solid black;
        cursor: pointer;
    }
    .active{
        background-color: lightgray;
        border: 2px solid yellowgreen;
    }
}
.item{
    width: 500px;
    height: auto;
    margin: $M-space auto;
    padding: 7px;
    background-color: #5c5a5a;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    div{
        margin: $S-space;
    }
    .titel{
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.difficulty{
    display: flex;
    
    .circle{
        width: 10px;
        height: 10px;
        margin: auto $S-space;
        border-radius: 100%;
        background-color: $grey;
    }

}

.diff3{
    .color{
        background-color: red;
    }
}

.diff2{
    .color{
        background-color: orange;
    }
}

.diff1{
    .color{
        background-color: green;
    }
}
.bottom-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow:auto;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    .infographics{
        width: 33%;
        display: flex;
        justify-content: space-between;

        div span{
            padding: 4px 8px;
            background-color: darkslategrey;
            display: flex;
            img{
                width: 20px;
            }
        }
    }
    .details{
        width: 77%;
        display: flex;
        font-size: smaller;
    }
}

//END
// COMPANIESVIEW
.bedrijven{
    .bedrijf{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    
        div{
            margin: $S-space 0;
        }
        .beschrijving{
            width: 80%;
            margin: auto;
            text-align: justify;
        }
    }
    .introductie{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo img{
        width: 100px;
    }
    .personen{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .persoon{
        width: fit-content;
        flex: 1 0 15%;
        flex-direction: column;
        align-items: center;
    }
    .personen-foto{
        width: 100px;
    
        img{
            border-radius: 100%;
        }
    }
    .gegevens{
        background-color: darkslategray;
        color: white;
        display: flex;
        justify-content: space-evenly;
    
        div{
            margin: $S-space auto;
            text-align: center;
        }
    }
    .showMore{
        width: fit-content;
        margin: auto;
    }
}
//END
// OFFER
.vraag-preview{
    width: 80%;
    margin:$XL-space auto 0px;

    div{
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(even){
            background-color: aliceblue;
        }
    }
    .beschrijving{
        height: fit-content;

        p:last-of-type{
            margin-left: $M-space;
            text-align: right;
        }
    }

}
// Profile
.profile-gegevens, .profile-update{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.profile-gegevens div:not(.boolean){
    margin: 15px auto;
    padding: 15px 5px;
    text-align: center;
    border: 1px solid black;
}
.profile-update{

    div{
        margin: 15px auto;
        text-align: center;

        p{
            margin-bottom: 5px;
        }
    }
}
.boolean{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;

    h3{
        padding: 10px;
    }
}
.class_if_is_true{
    background-color: $orange;
    color: white;
}
.else_class{
    background-color: $pink;
}
.acties{
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
        width: fit-content;
        margin: 10px;
        padding: 15px 5px;
        border-radius: 10px;
        border: none;
    }

    .delete{
        background-color: red;
        color: white;
    }
}
.aanbods{
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: dimgrey;
    padding: 25px 5px;

    .aanbod{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        
        margin: 10px auto;
        padding: 10px 15px;
        border: 1px solid black;
        &:nth-of-type(even){
            background-color: grey;
        }
        .difficulty{
            width: 20px;
            height: 20px;
            border: 1px solid black;
            border-radius: 100%;

            &.orange{
                background-color: orange;
            }
            &.green{
                background-color: green;
            }
            &.red{
                background-color: red;
            }
        }
        .info{
            text-align: left;
            width: 80%;

            div{
                margin: $S-space;
            }
        }
    }
}
